.heading {
	text-align: center;
}

form {
	background-color: #ffffff;
	padding: 1em 1em 1em 1em;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:2em;
}

.schedule_form_address {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #e6e6e6;
 	padding-bottom: 2em;
}

.schedule_form_address input {
	width: 98%;
	border: thin solid #d9d9d9;
	border-radius: 3px;
	padding-left: 0.5em;
	
}

.schedule_form_time {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #e6e6e6;
 	padding-bottom: 2em;
}

.schedule_form_time input {
	padding-left:0.2em;
	margin-left: 2em;
}

.schedule_form_driver {
    border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #e6e6e6;
 	padding-top:2em;
 	padding-bottom: 2em;
}

.schedule_form_driver input {
	margin-left:1em;
}

.schedule_form_days {
	text-align: center;
	word-spacing: 2em;
}

.schedule_form_buttons{
	margin-top:1em;
	margin-left:15em;
	margin-right:15em;
}

.schedule_form_buttons input[type="submit"] {
	float:right;
}


input[type="submit"], input[type="reset"]{
	align-items: flex-start;
    text-align: center;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    border-radius: 3px;
    width: 65px;
    color:#000000;
}

input[type=submit]:hover, input[type="reset"]:hover {
    background-color: #d9d9d9;
}



fieldset p {
	padding-top:0.5em;
	text-align: center;
	font-weight: bold;
}

div input {
	margin:0.5em;
}