/* This css page should be applied to every website page created (along with using @extends('layouts.app')) 
   please add a section for any page you create that requires specific styling and title your classes following
   the format "pagename-container-ect".

   If you have any questions about general layout or overriding issues please talk to Zac. Thank you! */


/*ENTIRE WEBSITES COLOUR PALETTE, PLEASE REMAIN CONSISTEN BY ADDING IN CONTAINERS TO THIS SECTION */
body, footer{
	background-color: #D9F5F2 !IMPORTANT;
}

section, article, header, aside{
	background-color: #AFDED9 !IMPORTANT;
}


form {
	background-color: #ffffff !IMPORTANT;
}



/*General css for all pages (DO NOT USE THIS MUCH PLEASE, ONLY SMALL SPECIFIC THINGS YOU WANT TO KEEP CONSISTENT)*/
.heading {
	text-align: center;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
	text-align: center;
	margin-top: 2em;
}

form {
	padding: 1em;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:2em;
}
input[type="text"], input[type="time"] {
	border: thin solid #d9d9d9;
	border-radius: 3px;
}

/*The following is css for the schedule page*/
.schedule-form-address {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #e6e6e6;
 	padding-bottom: 2em;
}

.schedule-form-address input {
	width: 98%;
	padding-left: 0.5em;
	
}

.schedule-form-time {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #e6e6e6;
 	padding-bottom: 2em;
}

.schedule-form-time input {
	padding-left:0.2em;
	margin-left: 2em;
}

.schedule-form-time #dep {
	margin-left:3.65em;
}

.schedule-form-driver {
    border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #e6e6e6;
 	padding-top:2em;
 	padding-bottom: 2em;
}

.schedule-form-driver input {
	margin-left:1em;
}

.schedule-form-days {
	text-align: center;
	word-spacing: 2em;
}

.schedule-form-buttons{
	margin-top:1em;
	margin-left:15em;
	margin-right:15em;
}

.schedule-form-buttons input[type="submit"] {
	float:right;
}

.schedule-form-driver input[type="text"] {
	padding-left:.2em;
	width:7.5em;
	margin-left:2.5em;
}

fieldset p {
	padding-top:0.5em;
	text-align: center;
	font-weight: bold;
}

div input {
	margin:0.5em;
}


/*The following is css for the welcome page*/
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  height: 7em;
  margin-bottom: 2em;
}

.main {
  text-align: left;
  height: 400px;
  margin-left: 2em;
  margin-right: 2em;
}

.aside-1 {
  background: #AFDED9;
  margin-left: 2em;
}

.aside-2 {
  background: #AFDED9;
  margin-right: 2em;
}

@media all and (min-width: 600px) {
  .aside-1 {
    flex: 1 0;
  }

  .aside-2 {
    flex: 2 0;
  }
}
@media all and (min-width: 800px) {
  .main {
    flex:  4 0;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }
}


/* PROFILE PAGE */
#profile-image {
	float: left;

	padding-right:0.8em;
	margin-right: 2em;
	margin-left: 2em;
	
	height: 1000px;
	width: 300px;

	/*background-color: #e8eaed;*/
	/*border: thin,solid,#000000*/;
}

#profile-content {
	padding-left: 0.8em;
	padding-right:0.8em;

	height: 1000px;
	width: 40%;

	display: inline-block;

}

#profile-form {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}


/* GOOGLE MAPS STUFF */
#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}