.heading {
	text-align: center;
}

form {
	background-color: #ffffff;
	padding: 1em 1em 1em 1em;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:2em;
}

/*The following is css for the schedule page*/
.schedule-form-address {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #e6e6e6;
 	padding-bottom: 2em;
}

.schedule-form-address input {
	width: 98%;
	border: thin solid #d9d9d9;
	border-radius: 3px;
	padding-left: 0.5em;
	
}

.schedule-form-time {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #e6e6e6;
 	padding-bottom: 2em;
}

.schedule-form-time input {
	padding-left:0.2em;
	margin-left: 2em;
}

.schedule-form-driver {
    border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #e6e6e6;
 	padding-top:2em;
 	padding-bottom: 2em;
}

.schedule-form-driver input {
	margin-left:1em;
}

.schedule-form-days {
	text-align: center;
	word-spacing: 2em;
}

.schedule-form-buttons{
	margin-top:1em;
	margin-left:15em;
	margin-right:15em;
}

.schedule-form-buttons input[type="submit"] {
	float:right;
}


input[type="submit"], input[type="reset"]{
	align-items: flex-start;
    text-align: center;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    border-radius: 3px;
    width: 65px;
    color:#000000;
}

input[type=submit]:hover, input[type="reset"]:hover {
    background-color: #d9d9d9;
}



fieldset p {
	padding-top:0.5em;
	text-align: center;
	font-weight: bold;
}

div input {
	margin:0.5em;
}


/*The following is css for the welcome page*/
#welcome-masthead {
	height: 6em;

	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 5em;
	margin-right: 5em; 
	padding-top: 0.1px;

	white-space: nowrap;
	text-align: center;

	background-color: #e8eaed;
}

#welcome-left-section {
	float: left;

	padding-top:;
	padding-left: 0.8em;
	padding-right:0.8em;
	margin-right: 2em;
	margin-left: 2em;
	
	height: 1000px;
	width: 10%;

	background-color: #e8eaed;
	border: thin,solid,#000000;
}

#welcome-center-section {
	padding-left: 0.8em;
	padding-right:0.8em;

	height: 1000px;
	width: 61%;

	display: inline-block;

	background-color: #e8eaed;
	border: thin,solid,#000000;
}

#welcome-right-section {
	float: right;

	padding-left: 0.8em;
	padding-right:0.8em;
	margin-right:2em;

	height: 1000px;
	width: 20%;

	background-color: #e8eaed;
	border:thin,solid,#000000;
}	

#welcome-bottom {
	width:95.5%;
	height: 5em;

	padding-left: 0.8em;
	padding-right:0.8em;
	margin: 2em;
	
	background-color: #e8eaed;
	border:thin,solid,#000000;
	background-color: #e8eaed;
	border:thin,solid,#000000;
}